<h1>@<%= @user.username %>'s Profile & Tweets</h1>

<div class="well">
    <%= image_tag @user.avatar.url, size: "250" %>
    <p><%= @user.name %></p>
    <p><%= @user.location %></p>
    <p><%= @user.bio %></p>
</div>

<p>
    <% if current_user.following.include?(@user.id) %>
        <%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-primary", id: "unfollow_btn" %>
    <% else %>
        <% if current_user.id != @user.id %>
	    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
	<% end %>
    <% end %>
</p>

<ul>
    <li><%= link_to "Followers", followers_path(id: @user.id) %></li>
    <li><%= link_to "Following", following_path(id: @user.id) %></li>
</ul>

<% @user.tweets.each do |tweet| %>
    <div class="well">
        <p>@<%= @user.username %></p>
	<p><%= tweet.message.html_safe %></p>
    </div>
<% end %>